@model IEnumerable<PMANews.Areas.Identity.Data.Post>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-8">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6">
                    <div class="card" style="padding:0.25px;margin:2px;">
                        <div class="card-body">
                           
                            <a href="#" style="color:rgb(62, 83, 136);text-decoration:none;"> @Html.DisplayFor(modelItem => item.Course.Name) </a>
                           
                           
                            <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none;">
                                <h4 class="card-title" style="color:rgb(26, 26, 26);"> @Html.DisplayFor(modelItem => item.Title) </h4>
                            </a>
                        </div><!-- .card-body -->
                    </div><!-- .card -->
                </div><!-- .col-sm-6 -->
            }
        </div><!-- .row -->
    </div><!-- .col-sm-4 -->
   
</div><!-- .row -->