@model IEnumerable<PMANews.Areas.Identity.Data.Department>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container justify-content-center text-center">
    <div class="container justify-content-center">
        <img src="~/img/logo.png" asp-append-version="true" class="pmfImg">
    </div>
    <div class="card-columns">
        @foreach (var item in Model)
        {
            <div class="card card-hover">
                <div class="card-body">
                    <a asp-controller="Department" asp-action="IndexCourses" asp-route-id="@item.Id" style="text-decoration:none;color:white;"> @Html.DisplayFor(modelItem => item.Name) </a>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .pmfImg{
        height:300px;
        width:300px;
    }
    .card-hover div:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.075);
    }
</style>