@model PMANews.Areas.Identity.Data.Comment

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container justify-content-md-center text-center col-md-6">
    <div class="card border-danger">
        <div class="card-header">
            <form asp-action="Delete">
                <input type="submit" value="Obriši" class="btn btn-danger" />
                <a asp-controller="Posts" asp-action="Details" asp-route-id="@Model.PostId" class="btn btn-secondary">Odustani</a>
            </form>
        </div>
        <div class="card-body">
            <h4 class="card-title">Sigurno želite obrisati ovaj komentar?</h4>
        </div>
    </div>
</div>
