@model PMANews.Areas.Identity.Data.Comment

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container justify-content-md-center text-center col-md-6">
    <h4>Sigurno želite obrisati ovaj komentar?</h4>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="form-group ">
            <input type="submit" value="Obriši" class="btn btn-danger" /> 
            <a asp-controller="Posts" asp-action="Details" asp-route-id="@Model.PostId" class="btn btn-primary">Odustani</a>
        </div>
    </form>
</div>
