@{
    ViewData["Title"] = "Enrole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.courseID</h3>
<form asp-controller="Course" asp-action="EnroleCourse" asp-route-id="@ViewBag.courseID">
    <label>Želite dodati ovaj kolegij u svoje kolegije?</label>
    <div class="form-group">
        <input type="submit" value="Da" class="btn btn-success" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}