@model PMANews.Areas.Identity.Data.CourseApplicationUser

@{
    ViewData["Title"] = "Quit Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card-columns">
        <div class="card border-danger mb-3" style="max-width: 30rem;">
            <div class="card-header">
                <form asp-action="Delete">
                    <input type="submit" value="Napusti" class="btn btn-danger" />
                    <a class="btn btn-secondary" asp-controller="Course" asp-action="MyCourses">Odustani</a>
                </form>
            </div>
            <div class="card-body">
                <h4 class="card-title">Napusti kolegij <b>@Model.Course.Name</b></h4>
                <p class="card-text">Ovime ćete napustiti kolegij i nećete moći vidjeti dijeljene bilješke i materijale tog kolegija.</p>
            </div>
        </div>
    </div>
</div>


