@model IEnumerable<PMANews.Areas.Identity.Data.CourseApplicationUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Korisnik
            </th>
            <th>
                Kolegij
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) 
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
        </tr>
     }
    </tbody>
</table>
