@model IEnumerable<PMANews.Areas.Identity.Data.PostImage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a class="btn-link" asp-action="Create">Objavi novu sliku</a>
</p>

    <div class="card-columns">
        @foreach (var item in Model)
        {
        <div class="card mb-3">
            <a asp-action="DownloadPngFileFromDB" asp-route-id="@item.Id">
            <img alt="image" src="@string.Format("{0},{1}","data:image/png;base64", Convert.ToBase64String(item.Image, 0, item.Image.Length))" style="height:200px;width:100%;display:block;" />
            </a>
            <div class="card-footer">
                @Html.DisplayFor(model => item.Title)
            </div>
        </div>
        }
    </div>




