@{
    ViewData["Title"] = "About";
}


<div class="container justify-content-center text-center">
    <div class="container border-success" style="max-width: 40rem;text-align:center;">
        <div class="card-header">Prirodoslovno-matematicki fakultet u Splitu</div>
        <div class="card-body">
            <h4 class="card-title">Projekt kolegija Informatička praksa</h4>
            <h6 class="card-subtitle mb-2">Josipa Juričić</h6>
            <h6 class="card-subtitle mb-2 text-muted">2019/20</h6>
            <p class="card-text">Mrežna aplikacija za razmjenu bilješki i materijala studenata PMF-a.</p>
        </div>
    </div>
</div>


